@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: rgba(0, 0, 0, 0.378);
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 2rem 2rem 3rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-size: 2.2rem;
    padding: 0rem 0rem 1rem 1.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
font-weight: 300;
text-align: left;
}

header {
    background-color: aquamarine;
    background-image: url(img/footer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* .DivHeaderLogo {
    background-image:url(img/icon3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 10vh;
    margin-left: 2rem;
    margin-right: 2rem;
} */

main {
    background-image: url(img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 390vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.ContainerExamples {
    background-color: white;
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
}

.ExampleOnlyDesktop {
    display: flex;
    align-items: center;
    width: 18vw;
    height: 60vh;
}

.ExampleDesktopAndMobile {
    display: flex;
    align-items: center;
    width: 18vw;
    height: fit-content;

}
.ImgExample{
    width:18vw;
    height: fit-content;
}
.Legend {
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;

}

.ContainerProduct {

    background-color: white;
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
    box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
}

.ULProduct,.OlInstruction,.UlInstruction  {
    width: 85vw;
    height: fit-content;
    margin: 0rem 2rem 0rem 2rem;

}

li {
    align-items: left;
    font-size: 1.2rem;
    padding: 0rem 1rem 0.5rem 0.2rem;
    margin-left: 2rem;
    font-family: 'Poppins', sans-serif;
}

.notes {
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.ContainerInstructionModelagem {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 0.5rem;
    box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
}

.ListInstruction {
    width: 85vw;
    margin-left: 2rem;

}

.ContainerInstructionCostura {
    background-color: rgb(249, 249, 249);
    width: 90vw;
    height: 125vh;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
}

footer {
    background-image: url(img/footer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}
.DivFooter{
    border: solid 2px white;
    display: inline;
    background-color: rgba(0, 0, 0, 0.609);
    box-shadow: 1.4rem 1.4rem 10rem 0.3vw rgba(255, 255, 255, 0.87);
    width: 60vw;
}

.FooterTittle{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 300;
text-align: center;    
}
.name{ 

    font-family: 'Poppins', sans-serif;
    color: transparent;
    font-weight: 300;
font-size: 2rem;
transition: all 1.2s;
}

.name:hover{
    color: red;
    font-size: 5rem;
    /* transform: rotate(360deg); */
 
}

@media (min-width:201px) and (max-width:501px) {

    h1 {
        width: 100vw;
        font-size: 1rem;
        text-align: justify;
        padding: 2rem 2rem 2rem 2rem;
        text-transform: uppercase;
    }

    h2 {
        width: 30vh;
        font-size: 1.8rem;
        padding: 0rem 2rem 1rem 1.5rem;
        text-align: center;
    }
    h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: left;
    }
    
    header {
        background-color: rgb(127, 146, 255);
        background-attachment: fixed;
        width: 100vw;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .DivHeaderLogo {
        width: 25vw;
        height: 5vh;
        margin-left: 2rem;
    }

    main {
        background-color: rgb(40, 132, 118);
        background-attachment: fixed;
        width: 100vw;
        height: 880vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .ContainerExamples {
        background-color: white;
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 0.5rem;
        box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
    }

    .ExampleDesktopAndMobile {
        display: flex;
        justify-content: center;
        width: 65vw;
    }

    .ExampleOnlyDesktop {
        display: none;
        width: 60vw;
        height: 10vh;
    }
    .ImgExample{

      width:30vw; 
        /* height: fit-content; */
    }
    .Legend {
        align-items: end;
        font-size: 0.5rem;
    }

    .ContainerProduct {
        background-color: white;
        width: 90vw;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 0.5rem;
        box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
    }

    .ULProduct,.OlInstruction,.UlInstruction {
        height: fit-content;
        height: fit-content;
        margin: 0rem 0rem 0rem 0rem;

    }

    li {
        align-items: left;
        font-size: 1.4rem;
        /* padding: 0rem 0.5rem 0.5rem 0rem; */

    }

    .notes {
        padding-left: 1rem;
    }

    .ContainerInstructionModelagem {
        background-color: rgb(255, 255, 255);
        width: 90vw;
        height: 230vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 0.5rem;
        box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
    }


    .ContainerInstructionCostura {
        background-color: rgb(249, 249, 249);
        width: 90vw;
        height: 380vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 5rem;
        box-shadow: 1.4rem 1.4rem 3rem 0.1vw rgba(0, 0, 0, 0.8);
    }

    footer {
    background-image: url(img/footer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .FooterTittle{
        border: solid 2px white;
        background-color: rgba(0, 0, 0, 0.609);
        box-shadow: 1.4rem 1.4rem 10rem 0.3vw rgba(255, 255, 255, 0.87);
        width: 45vh;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 300;
        text-align: center;

    }
}